project-1-3/node-v16.13.0-darwin-x64/include/node/openssl/archs/linux-aarch64/asm_avx2/crypto/include/internal/bn_conf.h
project-1-3/project2.code-workspace
project-1-3/.settings/org.eclipse.core.resources.prefs
project-1-3/.settings/org.eclipse.jdt.apt.core.prefs
project-1-3/.settings/org.eclipse.jdt.core.prefs
project-1-3/.settings/org.eclipse.m2e.core.prefs
project-1-3/.factorypath
project-1-3/.project
project-1-3/.classpath
.project
.DS_Store
*.class
.vscode
.idea
.env
*.js
*.html
*.gif
*.h
project-1-3/node-v16.13.0-darwin-x64/*
project-1-3/apache-maven-3.8.3/*
project-1-3/src/test/resources/npmjs_repos/
project-1-3/target/*
