<!DOCTYPE html>
<style>
    body {
      text-align: center;
      font-family: "Helvetica";
     }
    
    #page-wrap { 
      position: absolute; 
      left: 50%; 
      width: 800px;
      margin-left: -400px;
    }
    .button {
            font-family: "Helvetica";
        }
    </style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Package Download Success</title>
</head>
<body>
    <h1>
        Package Successfully Downloaded!
    </h1>
    <button class="button" onclick="location.href='/'" type="button">
        Return Home
    </button>
    
</body>
</html>