<!DOCTYPE html>
<style>
    body {
      text-align: center;
      font-family: "Helvetica";
     }
    
    #page-wrap { 
      position: absolute; 
      left: 50%; 
      width: 800px;
      margin-left: -400px;
    }
    .button {
            font-family: "Helvetica";
        }
    </style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Packages Page</title>
</head>
<body>
    <h1>Are you sure you want to reset the Package Manager?</h1>
    <h2>This action cannot be undone.</h2>
    <h2>&nbsp;</h2>

    <form class="button" action="/home/reset-confirmed" method="POST" id="reset_button">
        
    </form>
        
    <button class="button" type="submit" form="reset_button" value="Yes">Yes, reset the manager</button>
    &nbsp;


    <button class="button" onclick="location.href='/home'" type="button">
        No
    </button>
    <h2>&nbsp;</h2>
    <button class="button" onclick="location.href='/home'" type="button">
        Return Home
    </button>

</body>
</html>