<!DOCTYPE html>
<style>
body {
  text-align: center;
  font-family: "Helvetica";
 }

#page-wrap { 
  position: absolute; 
  left: 50%; 
  width: 800px;
  margin-left: -400px;
}
.button {
        font-family: "Helvetica";
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
</head>
<body id="page-wrap">
    <h1>

        Welcome to the Package Manager!
        
    </h1>
    <h2>
            What would you like to do?
    </h2>
    <h2> &nbsp; </h2>
    &nbsp;
    <button class="button" onclick="location.href='/home/upload-package'" type="button">
        Upload Package
    </button>
    &nbsp;
    <button class="button" onclick="location.href='/home/view-packages'" type="button">
        View Uploaded Packages
    </button>
    &nbsp;
    <button class="button" onclick="location.href='/home/reset'" type="button">
        Reset System
    </button>
    
</body>
</html>