<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
</head>
<body>
    <h1>
        Welcome to the Package Manager!
    </h1>
    <h2>
        What would you like to do?
    </h2>
    <button onclick="location.href='/upload-package'" type="button">
        Upload Package
    </button>
    <button onclick="location.href='/java-version'" type="button">
        Check Java
    </button>
    <button onclick="location.href='/view-packages'" type="button">
        View Uploaded Packages
    </button>
    <button onclick="location.href='/reset'" type="button">
        Reset System
    </button>

</body>
</html>